page-game {
  ion-icon {
  	color: #000000;
  }
  ion-content {
  	background-image: url("../assets/imgs/play.png");
    background-size: cover;
    background-position-x: 50%;
    ::-webkit-scrollbar{
		display:none;
		}
    }
}
